.main .add-product .success-message {
  max-width: 400px;
  margin: auto;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 50px;
  .image img {
    width: 90%;
  }
  .text {
    margin-bottom: 40px;
    h1 {
      font-size: 40px;
      padding: 0px;
    }
    p {
      font-size: 25px;
    }
  }
  .button {
    padding: 10px 40px;
    background: $primaryColor;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
  }
}
