.main .navbar {
  background-color: $navColor;
  height: 50px;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 0px 4px 4px #e2e2e242;
}

.main .navbar .right-nav a {
  text-decoration: none;
  color: $darkTextColor;
  font-family: $bold;

  &:hover {
    color: $primaryColor2;
  }
}

@media (max-width: 48rem) {
  .main .navbar .right-nav {
    width: 110px !important;
  }
}

.main .navbar .right-nav {
  width: 200px;
  display: flex;
  justify-content: space-between;

  .cart {
    // margin-left: 30px;
    width: 20px;
    height: 20px;
    .mybadge {
      position: relative;
      left: 13px;
      top: -35px;
      font-size: 10px;
    }
  }

  img {
    width: 25px;
  }
}

.main .navbar .right-nav .dropdown .dropdown-menu {
  margin-top: 15px;
  margin-left: -30px;
  border: none;
  outline: none;
  box-shadow: 0px 2px 8px #00000048;
  padding-bottom: 0px;
}

.main .navbar .right-nav .dropdown .dropdown-item {
  margin: 0px;
  font-family: $medium;
  &:hover {
    background: $navColor;
  }
}

.main .navbar .right-nav .dropdown .logout {
  border-top: 1px solid $lightTextColot;
  margin-top: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  &:hover {
    background: #f8f8f8;
  }
}
