.main .order-main {
  max-width: 900px;
  padding: 20px 2% 40px;
  margin: auto;
  .order {
    font-family: $medium;
    .order-header {
      padding: 0px 10px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      h1 {
        font-size: 25px;
        span {
          background: rgb(255, 187, 0);
          color: white;
          border-radius: 3px;
        }
      }
    }
    .order-body {
      .order-product {
        background: white;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        padding: 5px 2%;

        .image {
          img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .title {
          max-width: 450px;
          margin: auto 0px;
        }

        .order-price {
          width: 105px;
          margin: auto 0px;
          h1 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
