@import "./variables";
@import "./navbar";
@import "./home";
@import "./loginform";
@import "./editpopover";
@import "./footer";

body,
html,
#root {
  background-color: #f8f8f8;
  height: 100%;
  font-family: $regular;
}

.main {
  min-height: 100%;
  background-color: $backgroundColor;
  padding: 0px;
}
