@media (max-width: 48rem) {
  .main .add-product .row {
    .product-image {
      width: 100% !important;
      margin-top: 50px !important;
    }
    .product-data {
      width: 100% !important;
      padding: 0% !important;
    }
  }
}

.main .add-product {
  padding: 20px 10px;
  .row {
    // background: yellowgreen;
    padding: 20px 4%;
  }

  h1 {
    padding-left: 6%;
    font-size: 30px;
    font-family: $medium;
  }
}

.main .add-product .row .product-data {
  padding: 0px 3%;

  label {
    font-family: $medium;
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
  }

  input,
  textarea {
    width: 100%;
    border: none;
    outline: none;
    min-height: 35px;
    padding: 0px 25px;
    font-size: 14px;
  }

  textarea {
    min-height: 120px;
  }

  .info {
    border: none !important;
    margin: 0px !important;
  }

  .info,
  .name,
  .category,
  .description,
  .other {
    background: white;
    margin-top: 20px;
    border-bottom: 2px solid $primaryColor2;
  }

  .category {
    width: 100%;
    select {
      margin-left: 17px;
      height: 38px;
      width: 90%;
      border: none;
      outline: none;
    }
    option {
      border: none;
      outline: none;
    }
  }

  .other {
    padding-right: 20px;
    display: flex;
    justify-content: space-evenly;

    .price {
      width: 50%;
      display: flex;
      input {
        padding: 0px;
      }
    }
    .total-item {
      //   width: 50%;

      label {
        padding-left: 0px;
      }

      button {
        background: $primaryColor2;
        color: white;
        border: none;
        outline: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
      span {
        margin: 0px 5px;
        font-size: 16px;
        font-family: $bold;
      }
    }
  }
}

.main .add-product .row .product-image {
  margin: auto;
  background: #ffffff;
  padding: 0px;
  margin-top: 0px;

  .wait {
    width: 100%;
    p {
      padding: 15px 20px;
    }
  }

  .add {
    border-top: 2px solid $primaryColor2;
    background: $backgroundColor;
    width: 100%;
    padding: 30px 0px;
    button {
      width: 150px;
      background: $primaryColor2;
      color: white;
      border: none;
      outline: none;
      border-radius: 2px;
      padding: 5px;
    }
  }

  .info {
    label {
      font-family: $medium;
      padding: 10px;
      padding-left: 20px;
      font-size: 14px;
    }
  }

  .image-gallery .featured {
    width: 100%;
    height: 300px;

    img {
      height: 100%;
      max-height: 300px !important;
      width: 100%;
      object-fit: cover;
    }
  }

  .image-gallery .image-list {
    border-top: 2px solid $primaryColor2;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    height: 100px;
    padding: 5px;

    img {
      width: 90px;
      object-fit: cover;
      margin: 2px;
      border: 2px solid $primaryColor2;
    }
  }

  .image-gallery .image-list::-webkit-scrollbar {
    display: none;
  }

  .input-box {
    height: 50px;
    input {
      width: 100%;
      padding: 10px;
    }
  }
}
